@charset "UTF-8";
.logo, .site-nav__link, .top-connection__link, .social__link, .regular-clients__link, .footer__logo, .bottom-link__maps, .bottom-link__mail, .bottom-link__tel, .footer-social__link, .checkbox__link, .projects__link {
  color: inherit;
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav, .top-connection, .about-us__list, .our-works__list, .team-specialty__list, .social__list, .regular-clients__list, .bottom-link, .footer-social, .filter, .projects {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__section, .about-us, .our-works, .regular-clients {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.our-works, .our-team, .regular-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-works__title, .our-team__title, .regular-clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* 1. Изменение в ссылках */
.link {
  color: inherit;
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 2. Точки и отступы в списках ul */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* 4. Сброс h1-h6, ul, p */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
}

/* 5. Контейнер */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* 6. Отступы секций */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* 7. Img */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */
/* Main nav */
.header {
  border-bottom: 1px solid #ececec;
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-navigation {
  display: flex;
}

/* Logo */
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo:hover, .logo:focus {
  color: #2196f3;
}

.logo__interactive {
  color: #2196f3;
}

/* Site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link--current {
  position: relative;
  color: #2196f3;
}

.site-nav__link--current:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

/* Header contacts */
.top-connection {
  display: flex;
  margin-left: auto;
}

.top-connection__item + .top-connection__item {
  margin-left: 50px;
}

.top-connection__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.top-connection__link:hover, .top-connection__link:focus {
  color: #2196f3;
}

.top-connection__icon-mailto {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.top-connection__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-overlay.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
}

.hero__title {
  margin: 0 auto 30px;
  max-width: 696px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.about-us {
  padding-top: 94px;
}

.about-us__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.about-us__item {
  flex-basis: calc((100% - 30px * 4) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.about-us__item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  background-color: #f5f4fa;
}

.about-us__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-us__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.about-us__icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.about-us__icon-clock::before {
  background-image: url(../images/clock.svg);
}

.about-us__icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.about-us__icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.our-works__list {
  display: flex;
  flex-wrap: wrap;
}

.our-works__item {
  position: relative;
}

.our-works__item:not(:last-child) {
  margin-right: 30px;
}

.our-works__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-team {
  background: #f5f4fa;
}

.team-specialty__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-specialty__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-specialty__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-specialty__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-specialty__text {
  margin: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.social__item {
  width: 44px;
  height: 44px;
  background-color: transparent;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social__icon-instagram, .social__icon-twitter, .social__icon-facebook, .social__icon-linkedin {
  fill: currentColor;
}

.regular-clients__list {
  display: flex;
  align-items: center;
}

.regular-clients__item {
  width: 170px;
  height: 90px;
  margin-right: 30px;
}

.regular-clients__item:last-child {
  margin-right: 0;
}

.regular-clients__link {
  border: 1px solid #afb1b8;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border-radius: 4px;
}

.regular-clients__link:hover, .regular-clients__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.regular-clients__icon-logo {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.footer__widget {
  flex-basis: calc((50% - 45px) / 2);
}

.footer__widget:last-child {
  flex-basis: calc(50% - 15px);
}

.footer__logo {
  padding: 0;
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer__logo--white {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}

.footer__logo--white:hover, .footer__logo--white:focus {
  color: #2196f3;
}

.footer__title {
  display: flex;
  padding-top: 12px;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.bottom-link__maps {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.bottom-link__mail {
  display: block;
  margin-top: 9px;
  margin-bottom: 9px;
}

.bottom-link__mail, .bottom-link__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.bottom-link__maps:hover, .bottom-link__mail:hover, .bottom-link__tel:hover, .bottom-link__maps:focus, .bottom-link__mail:focus, .bottom-link__tel:focus {
  color: #2196f3;
}

/* Присоединяйтесь  */
.footer-social {
  display: inline-flex;
}

.footer-social__item {
  width: 44px;
  height: 44px;
  background-color: transparent;
  margin-right: 10px;
}

.footer-social__item:last-child {
  margin-right: 0;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: #2196f3;
}

.footer-social__icon {
  fill: currentColor;
}

.footer-form__input {
  width: 350px;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-right: 12px;
}

.footer-form__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 10px;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.footer-form__button:hover, .footer-form__button:focus {
  background-color: #188ce8;
}

.footer-form__telegram {
  fill: currentColor;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms linear;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

/*  */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__title {
  margin-bottom: 12px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

/*  */
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.button-close__icon-close {
  fill: #000000;
  margin-left: 1px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .button-close__icon-close,
.button-close:focus .button-close__icon-close {
  fill: #2196f3;
}

/*  */
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__feedback {
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  cursor: pointer;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__feedback:focus-within {
  border: 1px solid #2196f3;
}

.form__feedback::placeholder {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__button {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.form__button:hover, .form__button:focus {
  background-color: #188ce8;
}

.position {
  position: relative;
}

.position__input {
  width: 100%;
  height: 40px;
  padding-left: 43px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.position__input:focus-within {
  border-color: #2196f3;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.position__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.position:focus-within .position__icon {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
  background: url(../images/check1.svg);
}

.checkbox__input:checked + .checkbox__icon {
  background: url(../images/check2.svg);
}

.checkbox__link {
  margin-left: 5px;
  text-decoration-line: underline;
  color: #2196f3;
}

/* Сайт портфолио */
/* Список фильтров */
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__list:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter__button:hover, .filter__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
}

/* Наши проекты */
.projects {
  width: 100%;
  max-width: 1200px;
  min-width: 370px;
  display: flex;
  flex-wrap: wrap;
}

.projects__item {
  max-height: 404px;
  font-size: 24px;
  margin-right: 30px;
  margin-bottom: 30px;
  flex: 1 1 calc(33.33% - 30px);
}

.projects__item:nth-of-type(3n) {
  margin-right: 0;
}

.projects__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects__item:hover, .projects__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__info {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects__title {
  margin: 0 0 4px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__text {
  margin: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.projects__link:hover .thumb__overlay,
.projects__link:focus .thumb__overlay {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb__text {
  padding: 63px 24px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */