// .our-works
.our-works {
    @extend %section;
    @extend %container;

    &__title {
        @extend %title;
    }

    &__list {
        @extend %list;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__text {
        @include centeredFlex(flex);
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0;
        width: 100%;
        min-height: 70px;

        background: rgba(47, 48, 58, 0.8);
        color: #ffffff;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.42;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}
