.logo {
	color: $accent-color;
	font-family: $secondary-font;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;

	margin-right: 93px;
	text-decoration: none;
}

.logo-part-two {
	color: $primerry-text-color;
}
