$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$accent-background-color: #2196f3;
$accent-buttom: #188ce8;
$primary-background: #2f303a;
$secondary-background-color: #f5f4fa;
$hero-overlay: rgba(47, 48, 58, 0.4);
$border-color: #eeeeee;

$cursor-button: pointer;

$socialIcons: "antenna", "clock", "diagram", "astronaut";
